/* public/style.css */

body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f4f4f4;
}
.container {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}
h1 {
  color: #333;
  text-align: center;
  margin-bottom: 25px;
}
#addTodoForm {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
#addTodoForm input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#addTodoForm button {
  padding: 10px 15px;
  background-color: #00bd42;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li span {
  flex-grow: 1;
  margin-left: 10px;
}

.filterbar {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 5px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filterButtons{
  display: flex;
  gap: 6px;
}

.filter-btn {
  padding: 8px 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.filter-btn.selected {
  padding: 8px 10px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 6px;
}

/* #007bff */


.filterbar select,
.filterbar input[type="text"] {
  padding: 8px 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}

.filterbar select:focus,
.filterbar input[type="text"]:focus {
  border: 2px solid #007bff;
}

#sortOrder{
  font-size: 13px;
  padding: 3px 6px;
  height: 32px;
  border-radius: 4px; 
}

.sort{
  display: flex;
  align-items: center;
  gap: 4px;
}

.due-span {
  font-size: 14px;
  color: #666;
}

.overdue {
  color: crimson;
  font-size: 14px;
}
